#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use command line install
cmdline
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=gb --xlayouts='gb'
# System language
lang en_GB.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Root password
rootpw --iscrypted $6$tQ9iJdd.zMlO/oiG$rF0iTHdPwGJPn4NpcP2kXv7GV75tLhP8llZ/rilVz5qNyac0Ly9pyStMB/BwMXm34ardiAKetxKDHBSh1lNx6.
# System timezone
timezone Europe/London --isUtc
user --name=vagrant --password=$6$WCmaTmaoapqA9hDX$9TPetWvy3U3txkUby7dGvRvm6jIEXgvU7.VMR9eb7lt9JRIqZe2sHRqmogQqMR3Yk09DkUjx20rx37bumT7tE0 --iscrypted --gecos="vagrant"
Defaults:vagrant !requiretty
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core
kexec-tools

%end

# Commented out the kdump, it's not recognised by ksvalidator
# %addon com_redhat_kdump --enable --reserve-mb='auto'

# %end
